
/*Estilos carrito*/
.carrito-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

    .carrito-item img {
        max-width: 80px;
        height: auto;
        margin-right: 15px;
    }

    .carrito-item .producto-info {
        flex: 1;
    }

    .carrito-item .precio, .carrito-item .cantidad {
        font-weight: bold;
        white-space: nowrap;
    }

    .carrito-item .acciones {
        display: flex;
        align-items: center;
    }

.btn-cantidad {
    margin: 0 5px;
}

.cantidad {
    min-width: 40px;
    text-align: center;
}

.lbl-total{
    display:flex;
    justify-content: end;
    padding-block: 10px;
    
}

.btnFinalizar {
    display: flex;
    justify-content: end;
    margin-block: 60px;
}