.cont-detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imgPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: 340px;
    object-fit: cover;
}

.imgAd-cont {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    gap: 10px;
}

.img-small {
    width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
}
