
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*header styles*/
body {
    background: #f6f6f6;
}

.nav-size {
    height: 90px;
}

.search i {
    color: #ffc756;
}

.nav-link i {
    color: #ffc756;
}

.nav-header:hover {
    background: #7777776e;
    border-radius: 8px;
}

#lblCantidadCarrito {

    font-size: 8px;
    padding: 2px 4px;
    background-color: #ffbf00;
    border-radius: 50%;
    color: black;
}
/*carousel styles*/
.carousel-indicators button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    background-color: white !important;
}

.carousel-container {
    margin-bottom: 40px;
}

.carousel-inner {
    width: 1340px;
    height: 500px;
    border-radius: 20px;
}

.carousel-item img {
    object-fit: cover;
}

/*navigation styles*/
.nav-container {
    margin: 16px;
}

.nav-link {
    color: #333333cb;
    font-size: 18px;
    font-weight: 600;
}

.disabled {
    color: #66666660 !important;
}

.nav-link:hover {
    color: #ffc756;
}


/*categorias destacadas*/
.card-categorias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 24px;
    margin: 20px 26px;
}

.card-content {
    width: 12rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.4s ease;
    transition: transform 0.4s ease;
}

    .card-content:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }

.card-link {
    text-decoration: none;
    color: inherit;
}

/*banner arma pc*/

.container-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczMJTGVlJ1ifUCREFx_nQxWJpndDoPTq68xcBetEN0KpetmwCXcBPvb_bLt7QgiSm10vT0h9Y7IU7qMfpq1BF7XxBp6qFbJ9kqcE5d8hfAN_LTZWwqHeFRUJGcp_xQL4KVQSapH-Qyj92eaDHaT2E7VESw=w1340-h280-s-no-gm?authuser=0");
    height: 280px;
    width: 1340px;
    border-radius: 30px;
    margin: 50px 0;
}

/*footer*/

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #ffffff;
    width: 100%;
    height: auto;
}

.banner-item {
    flex: 1;
}

    .banner-item:not(:last-child) {
        border-right: 1px solid #ddd;
    }

.icon {
    font-size: 2rem;
    color: #ffc756;
    margin-bottom: 10px;
}

.icon-redes {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
}

    .icon-redes:hover {
        color: #ffc756;
    }

footer {
    height: 600px;
    width: auto;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-container {
}

.info-cont {
    margin-top: 20px;
    padding: 20px;
    gap: 40px;
    display: flex;
    justify-content: space-between;
}

.text-uppercase {
    color: #ffc756 !important;
}

.links-content li a {
    text-decoration: none;
    color: black;
}

    .links-content li a:hover {
        text-decoration: underline;
        color: #ffc756;
    }

.links-content {
    width: 300px;
}

/*card productos tendencias*/
.card-tendencias {
    width: 24rem;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 1rem;
    transition: box-shadow 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background: #ffffff;
}

    .card-tendencias:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .card-tendencias .img-fluid {
        object-fit: cover;
        height: 100%;
        width: 100%;
        padding-left: 1rem;
        transition: transform 0.2s ease;
        margin-left: 10px;
    }

    .card-tendencias :hover img {
        transform: scale(1.05);
    }

    .card-tendencias .card-body {
        padding: 1rem;
        flex: 1;
    }

    .card-tendencias .card-text {
        margin-bottom: 0.5rem;
    }

    .card-tendencias h5.card-title,
    .card-tendencias h5.card-text {
        margin-bottom: 0.75rem;
    }




/*Login*/


#BotonIngresar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}



.BotonesLogin{
    padding-bottom:100px;
}

#NuevoUsuario {
    padding-left: 31%;
}

/*NuevoUsuario*/

.NuevoUsuario{
    padding-top:120px;
    padding-bottom:180px;
}

#BotonIngresarNuevoUsuario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#BotonIngresarLoginRecuperarContraseña {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

#VolverLogin {
    padding-bottom: 100px;
}

.PreguntasFrecuentes{
    padding-bottom:100px;
}

/*Pagina Inicio Admin*/



#CajaOpcionesAdmin {
    padding-top:100px;
    padding-bottom: 100px;
}

#OpcionesArticulo {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ContenedorArticuloNuevo {
    padding-top: 100px;
    padding-bottom: 100px;
}

#BotonNuevoArticulo {
    padding-top: 100px;
}